* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.header__title {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header {
  background-color: #444;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logo {
  width: 100px;
  border-radius: 50%;
}

.header__description {
  color: #ccc;
  width: 30%;
  font-size: large;
  text-align: left;
  border-left: 1px solid #ccc;
  padding-left: 1rem;
  font-size: 1rem;
  line-height: 1.5;
}

.navbar__list {
  display: flex;
  gap: 1rem;
  list-style: none;
  color: #ccc;
}

.button {
  padding: 10px 30px;
  border-radius: 200px;
  font-size: 1rem;
  border: none;
  /* outline: none; */
}

.button_signup {
  background-color: rgb(147, 147, 248);
  color: azure;
}

.button_submit {
}

.button_cancel {
}

.main {
  background-color: #ccc;
  padding: 10px;
}

.drop-zone {
  text-align: center;
  width: 80%;
  height: 80vh;
  margin: auto;
  border: 2px dotted black;
  background-color: #444;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  padding-block: 2rem;
}

.dragged-over {
  opacity: 0.3;
  border: 2px solid black;
}

.subtitle-input {
  display: none;
}

.uploaded-subtitle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.uploaded-subtitle-container__icon {
  width: 50px;
}

@media only screen and (max-width: 991px) {
  .logo {
    width: 70px;
  }

  .header__description {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .drop-zone {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 425px) {
  .navbar__list {
    display: none;
  }

  .uploaded-subtitle-container {
    flex-direction: column;
  }
}
